body {
    background-image: linear-gradient(to bottom, rgb(33, 189, 236), #f1f6fa);
}

.form1 {
    width: 500px;
    margin: auto;
    padding-top: 10px;
}

.card1 {
    -moz-box-align: left;
    box-shadow: 1px 1px 5px #ccc;
    background-color: aliceblue;
    padding: 60px;
    border-radius: 5px;
}

.form {
    width: 500px;
    margin: 200%;
    padding-top: 40px;
}

.card {
    -moz-box-align: left;
    box-shadow: 1px 1px 5px #ccc;
    background-color: aliceblue;
    padding: 60px;
    border-radius: 5px;
}

.cardtop {
    text-align: center;
}

.card-group {
    margin-bottom: 10px;
}

.card-group>label {
    width: 100%;
    color: #696969;
    display: block;
}

.card-group>input {
    border-radius: 5px;
    outline: 0ch;
    width: 100%;
    height: 25px;
    padding: 5px;
}

div.acs {
    float: left;
    display: inline;
}

div.cdt {
    float: right;
    display: inline;
}

.card-group>a {
    background-image: linear-gradient(to right, red, #8B0000);
    width: 150px;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0px;
    float: left;
    text-align: center;
    text-decoration: none;
}

.card-group>button {
    background-image: linear-gradient(to right, red, #8B0000);
    width: 150px;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0px;
    float: left;
    text-align: center;
    text-decoration: none;
}

.acs button:hover {
    background-image: linear-gradient(to right, rgb(196, 15, 15), #5c0505);
}

.cdt a:hover {
    background-image: linear-gradient(to right, rgb(196, 15, 15), #5c0505);
}

.imglogin {
    border-radius: 40px;
    width: 100px;
    box-shadow: 1px 1px 5px #cccccc;
}

.titulo {
    color: #d31c1c;
}